.prose {
  @apply max-w-full text-sm;
  color: black;
  --tw-prose-bullets: black;
  --tw-prose-counters: black;
  --tw-prose-hr: var(--color-border);
  --tw-prose-quote-borders: var(--color-primary);
}

.dark .prose {
  color: white;
  --tw-prose-bullets: white;
  --tw-prose-counters: white;
}

.prose li::marker {
  color: inherit;
}

.prose :is(p, h2, h3, h4, h5, h6),
.prose li,
.prose strong,
.prose em,
.prose u,
.prose s,
.prose sub,
.prose sup {
  color: inherit;
}

.prose p,
.prose h2,
.prose h3,
.prose h4,
.prose blockquote,
.prose ul,
.prose ol,
.prose table,
.prose pre,
.prose hr,
.prose video,
.prose img,
.prose audio,
.prose ul > li:first-child,
.prose ol > li:first-child {
  @apply mt-0;
}

.prose hr {
  @apply mb-[1.5em];
}

.prose a {
  color: var(--color-primary);
}

.prose li p {
  @apply my-0;
}

.prose ol ol {
  list-style-type: lower-alpha;
}

.prose ol ol ol {
  list-style-type: lower-roman;
}

.prose ol ol ol ol {
  list-style-type: decimal;
}

.prose ol ol ol ol ol {
  list-style-type: lower-alpha;
}

.prose ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

.prose ol ol ol ol ol ol ol {
  list-style-type: decimal;
}

.prose ul ul {
  list-style-type: circle;
}

.prose ul ul ul {
  list-style-type: square;
}

.prose table {
  @apply w-full table-fixed border-collapse overflow-hidden text-sm;
}

.prose table th {
  @apply bg-gray-100;
}

.prose table th,
.prose table td {
  @apply relative border border-gray-400 p-1.5 align-top;
}

.prose table tr:not(:has(th)) {
  @apply hover:bg-gray-100;
}

.prose table tr:not(:has(th)):nth-child(2n of tr:not(:has(th))) {
  @apply bg-primary/5 hover:bg-primary/10;
}

.prose table th > *,
.prose table td > * {
  @apply mb-0;
}

.prose .tableWrapper {
  @apply mb-[2em] scrollbar-thin overflow-x-auto;
}

.prose .tableWrapper table {
  @apply mb-0;
}

.prose .resize-cursor {
  @apply cursor-col-resize;
}

.prose [data-type="emoji"] img {
  @apply my-0 inline-block size-5.5 align-text-bottom;
}

.prose blockquote {
  @apply font-normal not-italic;
}

.prose blockquote > *::before,
.prose blockquote > *::after {
  @apply content-none;
}

.prose .column-resize-handle {
  @apply pointer-events-none absolute -inset-e-0.5 top-0 bottom-0 z-20 w-1 bg-primary;
}

.note-body .ProseMirror,
.note-body .ProseMirror:focus,
.note-body .ProseMirror:focus-visible {
  @apply outline-none;
  border: 0;
}

.note-body
  .ProseMirror
  :is(p, h2, h3, h4, h5, h6).is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  @apply pointer-events-none float-right h-0 text-muted-foreground/60;
}
